.first-project{
    width: 1920px;
    height: 850px;
background-color:whitesmoke;
margin-bottom: 178px;}
.bap-1{
    display: flex;
    justify-content: space-between;
   
}
.image-1{
    width: 635px;
    height: 800px;
    margin-top: 50px;
margin-right: 240px;}

.flower-section{
    font-weight: 800;
    font-size: 80px;
    color: #272727;
    margin-left: 240px;
    margin-bottom: 147px; 
}
.lorem{
    font-weight: normal;
    font-size: 18px;
    color: #272727;}
   
.btn-primary{
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #E55473;
    border: 1px solid darkcyan;
    border-radius: 8px;
    margin-top: 32px;
    width: 179px;
    height: 64px;
   }

.bold{
    font-weight: 800px;
    font-size: 80px;
 margin-top: 197px;
margin-bottom: 32px;}


.second-project{
width: 1920px;
height: 800px;
}
.feature{
    font-weight: 800px;
    font-size: 40px;
    color: #272727;
    justify-content: center;}
  
.long{
    font-weight: normal;
    font-size: 18px;
    color: #272727;
   
}
.writing{
   text-align: center;
 
  
 
}
.three-image{
   

display: flex;
margin-left: 240px;

 
  

  
 
    
   
    }
  
 .first, .second, .third{
     background-color: #f0f0f0;
     width: 464px;
     height: 605px;
     border: 1px solid wheat;
     border-radius: 18px;
     margin-right: 20px;}
    

     .write-laste{
        display: flex;
        justify-content: space-evenly;
       
     }
     .pink-1, .pink-2, .pink-3{
        font-weight: bold;
        font-size: 24px;
        color: #272727;
        text-decoration: underline;
        margin-left: 85px;
       
       
       
     }
     .third-project{
        width: 1440px;
        height: 320px;
        background-color: aliceblue;
        margin-top: 128px;
        margin-left: 240px;
        border-radius: 8px;
        margin-bottom: 128px;
     }
     .dual{
        justify-content: space-evenly;
        display: flex;
        padding-top: 86px;

     }
     .size-1{
      margin-left: 180px;
     }
     .size-2{
      margin-left: 170px;
      margin-right: 250px;
     }
     size-3{
     
     }
     

       

     
     .class{
      justify-content: space-evenly;
     
     }
     .men{
        font-size: 24px;
        padding-left: 30px;
        
        color: #272727;
        font-weight: 350px;
     }
     .flower{
        font-size: 24px;
        padding-left: 70px;
        color: #272727;
        font-weight: 350px;
     }
     .women{
        font-size: 24px;
        padding-right: 120px;
        color: #272727;
        font-weight: 350px;
     }
     .fourth-project{
        width: 1922px;
        height: 622px;
        background-color:aliceblue;
        border-radius: 8px;
        margin-bottom: 128px;

     }
     .first-title{
       padding-top: 230px;
        margin-left: 395px;
     }
     .hot{
        font-weight:bolder ;
        font-size: 40px;
        color: #272727;
     }
     .fact{
      font-weight: normal;
      font-size: 18px;
     }
     .red{
      color: #E55473;
     }
     .bap-3{
      display: flex;
      
     }
.fuldani{
   width: 318px;
   height: 420px;
   padding-left: 200px;
   padding-right: 42px;
   padding-top: 100px;
}
.fifth-project{
   width: 1922px;
   height: 620px;
   
}
.fifth-title{
   text-align: center;
  
  
}
.instagram{
    font-weight: 900px;
   font-size: 40px;
   color: #272727;
   margin-bottom: 24px;
  

}
.pong{
  
   font-weight: normal;
   font-size: 18px;
    color: #272727;
    margin-bottom: 48px;
   
   
}
.fifth-image{
   display: flex;
   margin-left: 240px;
  gap: 24px;
  margin-bottom: 128px;
}


@media screen and (max-width: 576px) {.bap-1, .bap-3, .dual, .fifth-image {
   flex-direction: column;
}
.fifth-image{
   width: 100%;
   height: 100%;
   margin-left: 1px;

}
.fifth-title{
   text-align: center;}
  
.fifth-project{
   height: auto;
   width: auto;
}

.bold, .feature, .hot, .btn-primary, .instagram {
   font-size: 1.5rem;}
   .pong{
      font-size: 0.8rem;
   }

.lorem, .long, .fact{
 font-size: 0.8rem;}
  .image-1{
   width: 250px;
   height: 320px;

  
  }
  .first-project{
    height: 845px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 70px;
  }
  
  
  .writing{
 padding-right: 1480px;
  }
  .flower-section{
   margin-left: 10px;
   margin-bottom: 4px;}
   .first, .second, .third{
      width: 350px;
      height: 450px;
      border-radius: 8px;
   
      
   }
   .three-image{
        flex-direction: column;
         margin-left:30px
    
     
   }
   .pink-1, .pink-2, .pink-3{
      margin-left:60px
   }
   .btn-primary{
      width: 170px;
      height: 40px;
   }
  .size{
   height: 130px;
   width: 140px;
  }
  .second-project{
  height: 1650px;
  }
  .third-project{
  margin-left: 37px;
  height: 550px;
  width: 350px;
  border-radius: 10px;
  }
  .size-1, .size-2, .size-3{
   margin-left: 100px;
  
  }
  .men, .flower, .women{
   font-size: 0.9rem

  }
  .flower{
   padding-left: 38px;
  }
  .women{
   padding-left: 80px;
  }
  .first-title{
   margin-left: 25px;
   padding-top: 20px;
  }
  .fourth-project{
   height: 800px;
   width: auto;

  
  
  
border-radius: 10px;}
   .fuldani{
      padding-left: 40px;
      
   }

  


 
      
     
     
     
   
  
  
  
  
 


}
   
   


   