.first-project{
    width: 1920px;
    height: 850px;
background-color:whitesmoke;
margin-bottom: 178px;}
.bap-1{
    display: flex;
    justify-content: space-between;
   
}
.image-1{
    width: 635px;
    height: 800px;
    margin-top: 50px;
margin-right: 240px;}

.flower-section{
    font-weight: 800;
    font-size: 80px;
    color: #272727;
    margin-left: 240px;
    margin-bottom: 147px; 
}
.lorem{
    font-weight: normal;
    font-size: 18px;
    color: #272727;}
   
.btn-primary{
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #E55473;
    border: 1px solid darkcyan;
    border-radius: 8px;
    margin-top: 32px;
    width: 179px;
    height: 64px;
   }

.bold{
    font-weight: 800px;
    font-size: 80px;
 margin-top: 197px;
margin-bottom: 32px;}


.second-project{
width: 1920px;
height: 800px;
}
.feature{
    font-weight: 800px;
    font-size: 40px;
    color: #272727;
    justify-content: center;}
  
.long{
    font-weight: normal;
    font-size: 18px;
    color: #272727;
   
}
.writing{
   text-align: center;
 
  
 
}
.three-image{
text-align: center;
 
  

  
 
    
   
    }
  
 .first, .second, .third{
     background-color: #f0f0f0;
     width: 464px;
     height: 605px;
     border: 1px solid wheat;
     border-radius: 18px;
     margin-right: 20px;
     margin-bottom: 32px;}


     .write-laste{
        display: flex;
        justify-content: space-evenly;
       
     }
     .pink{
        font-weight: bold;
        font-size: 24px;
        color: #272727;
       
     }
     .third-project{
        width: 1440px;
        height: 320px;
        background-color: aliceblue;
        margin-top: 128px;
        margin-left: 240px;
        border-radius: 8px;
        margin-bottom: 128px;
     }
     .dual{
        justify-content: space-evenly;
        display: flex;
        padding-top: 86px;

     }
     .dual-2{
         
        display: flex;

       

     }
     .men{
        font-size: 24px;
        padding-left: 175px;
        
        color: #272727;
        font-weight: 350px;
     }
     .flower{
        font-size: 24px;
        padding-left: 70px;
        color: #272727;
        font-weight: 350px;
     }
     .women{
        font-size: 24px;
        padding-left: 100px;
        color: #272727;
        font-weight: 350px;
     }



   